<div id="listing" v-cloak>
  <div class="container">
    <h3>List User</h3>
    <div class="row mb-3">
      <div class="col-sm-6">
        <table class="table table-hover table-light table-striped">
          <thead>
            <th scope="col">Action</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
          </thead>
          <tbody>
            <% _.each(users, function(user) { %>
            <tr>
              <td scope="row">
                <a href="detail/<%- user.id %>"><i class="fa fa-info"></i></a>
                <a href="edit/<%- user.id %>"><i class="fa fa-pencil"></i></a>
                <a href="delete/<%- user.id %>"
                  ><i class="fa fa-trash-o"></i
                ></a>
              </td>
              <td scope="row"><%= user.fullName %></td>
              <td scope="row"><%= user.emailAddress %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%- /*
<h1>TODO: Implement this page.</h1>
<p>
  (See also <em>assets/styles/pages/employee/listing.less</em>,
  <em>assets/js/pages/employee/listing.page.js</em>, and
  <em>api/controllers/employee/view-listing.js</em>.)
</p>
Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser()
%>
